<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mz.org.fgh.idartlite">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:name=".base.application.IdartLiteApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.reports.ReportTypeActivity"></activity>
        <activity android:name=".view.reports.ReportsListingActivity"></activity>
        <activity android:name=".view.reports.DispenseReportActivity"></activity>

        <activity android:name=".view.reports.DispensedDrugsReportActivity">


        </activity>
        <activity android:name=".view.reports.StockAlertReportActivity"></activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="mz.org.fgh.idartlite.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity android:name=".view.reports.PatientReportActivity">

        </activity>
        <activity android:name=".view.about.AboutActivity" />
        <activity
            android:name=".view.splash.SecondSplashActivity"
            android:noHistory="true" />
        <activity
            android:name=".view.splash.SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.prescription.PrescriptionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.dispense.CreateDispenseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.stock.StockEntranceActivity"
            android:label="@string/title_activity_stock"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.stock.StockActivity"
            android:label="@string/title_activity_stock"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.patientSearch.SearchPatientActivity"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.patientPanel.PatientPanelActivity"
            android:label="@string/title_activity_patient"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.login.LoginActivity"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.home.HomeActivity"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.episode.EpisodeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>